/* Libs
------------------------------------------------------------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Globals
------------------------------------------------------------ */
/* Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #59c4fc;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #59c4fc;
  color: #fff;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

/* Helper Mixins
------------------------------------------------------------ */
/* ==========================================================================

   Buttons

   ========================================================================== */
/* ==========================================================================

   Vertical Rhythm and Modular Scale with Baseline Grid by Justin Metros
   // inspired by www.gridlover.net

   ========================================================================== */
/* Colors
------------------------------------------------------------ */
/* Typography
------------------------------------------------------------ */
body {
  font-size: 13px;
  line-height: 19.5px;
  color: #565555; }

h1, .alpha {
  font-size: 89px;
  line-height: 97.5px;
  margin-top: 0px;
  margin-bottom: 19.5px; }

h2, .beta {
  font-size: 55px;
  line-height: 58.5px;
  margin-top: 0px;
  margin-bottom: 19.5px; }

h3, .gamma {
  font-size: 34px;
  line-height: 39px;
  margin-top: 0px;
  margin-bottom: 29.25px; }

h4, .delta {
  font-size: 21px;
  line-height: 39px;
  margin-top: 0px;
  margin-bottom: 0px; }

h5, .epsilon {
  font-size: 21px;
  line-height: 39px;
  margin-top: 0px;
  margin-bottom: 0px; }

h6, .zeta {
  font-size: 13px;
  line-height: 19.5px;
  margin-top: 19.5px;
  margin-bottom: 19.5px; }

p, ul, ol {
  font-size: 13px;
  line-height: 19.5px;
  margin-top: 0px;
  margin-bottom: 19.5px;
  font-family: Arvo, sans-serif; }

a {
  font-size: 21px;
  line-height: 39px;
  margin-top: 0px;
  margin-bottom: 19.5px;
  font-family: Arvo, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arvo, sans-serif; }

/* Partials
------------------------------------------------------------ */
/* --------------- Layout ---------------- */
img {
  width: 100%;
  vertical-align: baseline; }

body {
  background: url(../img/map.png) repeat;
  background-position-y: top;
  position: relative; }

#fixedbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #666; }

#fixednav {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto; }
  #fixednav:before, #fixednav:after {
    content: " ";
    display: table; }
  #fixednav:after {
    clear: both; }

#navcontainer {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 85.42656%;
  margin-left: 7.28672%; }
  #navcontainer:last-child {
    margin-right: 0; }
  #navcontainer div, #navcontainer h3, #navcontainer select {
    height: 50px; }
  #navcontainer h3 {
    line-height: 50px; }

#logo3 {
  height: 50px;
  background: no-repeat url(../img/logo2.png);
  background-size: contain;
  background-position: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  #logo3:last-child {
    margin-right: 0; }

.headerbit {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  font-size: 2em; }
  .headerbit:last-child {
    margin-right: 0; }

#backtomap {
  margin-left: 1em; }

.logo2 {
  height: 100px;
  width: 100px;
  background: no-repeat url(../img/logo2.png);
  background-size: cover;
  display: block;
  margin: 0 auto; }

.countrySelector {
  height: 0px;
  overflow: hidden; }

.select {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 12.55938%;
  margin-left: 7.28672%;
  background: red; }
  .select:last-child {
    margin-right: 0; }
  .select:active .countrySelector {
    height: auto;
    width: 200px; }

.logo {
  text-align: center;
  height: 100px;
  margin: 0 auto;
  width: 250px;
  background: no-repeat url("../img/logo.png");
  margin-top: 0.3em; }

#select {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 500px;
  width: 100%;
  margin: 0em 0 0em 0;
  z-index: 10; }
  #select:before, #select:after {
    content: " ";
    display: table; }
  #select:after {
    clear: both; }

.countrySelector {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 19.8461%;
  margin-bottom: 3em;
  margin-left: 1em; }
  .countrySelector:last-child {
    margin-right: 0; }

.container {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

#promo {
  margin-top: -2em;
  margin-bottom: 0em;
  background-image: url(../img/hero.png);
  background-position-x: 90%;
  background-position-y: 95%;
  background-size: cover; }

#hello {
  width: 70%;
  margin-left: 15%;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
  padding-top: 3em; }
  #hello h3 {
    text-align: center; }

#downwego {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 2em;
  background-image: url(../img/downarrow.svg); }
  #downwego:before, #downwego:after {
    content: " ";
    display: table; }
  #downwego:after {
    clear: both; }

#scrollto {
  background-color: #FFFFFF;
  visibility: hidden;
  margin-bottom: 3.7em; }

.infocol {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 3em; }
  .infocol:last-child {
    margin-right: 0; }
  .infocol h5 {
    font-size: 1.5em; }

#map {
  padding-top: 0em;
  margin-bottom: 0;
  margin-top: 0em;
  height: auto; }

.map {
  position: relative;
  box-shadow: 0px -20px inset rgba(0, 0, 0, 0.4); }

.mapcontainer {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em; }
  .mapcontainer:before, .mapcontainer:after {
    content: " ";
    display: table; }
  .mapcontainer:after {
    clear: both; }

.mapTooltip {
  position: fixed;
  background-color: #fff;
  moz-opacity: 0.70;
  opacity: 0.70;
  filter: alpha(opacity=70);
  border-radius: 0px;
  padding: 10px;
  max-width: 200px;
  display: none;
  color: #343434; }

.zoomIn, .zoomOut {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 5.27266%;
  margin-left: 46.635%;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2em;
  margin-top: .4em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all .2s ease-in-out; }
  .zoomIn:last-child, .zoomOut:last-child {
    margin-right: 0; }
  .zoomIn:hover, .zoomOut:hover {
    color: rgba(250, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5); }
  .zoomIn:active, .zoomOut:active {
    transition: all .1s ease-in-out;
    background: black;
    color: white; }

.zoomOut {
  margin-left: 0%; }

.info1 {
  height: 200px;
  width: 500px;
  background-color: #FFF;
  opacity: .5;
  position: absolute; }

.index {
  padding-top: 30px; }

/* --------------- Note viewer Styles ---- */
#notescontrolls {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 85.42656%;
  margin-left: 7.28672%; }
  #notescontrolls:last-child {
    margin-right: 0; }

.noteselect {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .noteselect:last-child {
    margin-right: 0; }
  .noteselect li {
    list-style: none;
    display: inline;
    margin: 0;
    color: #666; }
    .noteselect li a {
      margin: 0;
      padding: .5em;
      color: #666;
      -webkit-transition: color 0.1s ease-in 0s;
      -moz-transition: color 0.1s ease-in 0s;
      transition: color 0.1s ease-in 0s; }
      @media screen and (min-width: 641px) and (max-width: 899px) {
        .noteselect li a {
          font-size: 1em; } }
      .noteselect li a:hover {
        color: rgba(250, 0, 0, 0.5);
        border-bottom: 2px solid rgba(250, 0, 0, 0.5); }

.currentNoteIndicator {
  color: #666;
  border-bottom: 2px solid #666;
  -webkit-transition: color 0.1s ease-in 0s;
  -moz-transition: color 0.1s ease-in 0s;
  transition: color 0.1s ease-in 0s; }
  .currentNoteIndicator:hover {
    color: rgba(250, 0, 0, 0.5);
    border-bottom: 2px solid #666; }

#notearrows {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  text-align: right; }
  #notearrows:last-child {
    margin-right: 0; }

.notearrow {
  font-size: 2em;
  color: #666;
  padding: .5em;
  -webkit-transition: color 0.1s ease-in 0s;
  -moz-transition: color 0.1s ease-in 0s;
  transition: color 0.1s ease-in 0s; }
  .notearrow:hover {
    color: rgba(250, 0, 0, 0.5); }

.note {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .note:last-child {
    margin-right: 0; }
  @media screen and (min-width: 641px) and (max-width: 899px) {
    .note {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .note:last-child {
        margin-right: 0; } }

.noteholder {
  margin-bottom: 1em;
  overflow-x: hidden;
  width: 100%; }

.noteposition {
  position: relative;
  -webkit-transition: right 0.3s ease-in 0s;
  -moz-transition: right 0.3s ease-in 0s;
  transition: right 0.3s ease-in 0s; }

.notes {
  width: 100000000px; }

.notegroup {
  float: left;
  max-width: 100em;
  position: relative; }

#countryName {
  text-shadow: 2px 2px 2px #fff; }

#infosection {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 85.42656%;
  margin-left: 7.28672%; }
  #infosection:last-child {
    margin-right: 0; }

/*================== bar graph styles ===*/
.chart {
  height: 80px;
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 85.42656%;
  margin-left: 7.28672%;
  position: relative;
  margin-left: 2em; }
  .chart:last-child {
    margin-right: 0; }

.bar {
  width: 20%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  -webkit-transition: height 0.5s ease-in-out 0s;
  -moz-transition: height 0.5s ease-in-out 0s;
  transition: height 0.5s ease-in-out 0s;
  position: absolute;
  bottom: 0; }
  .bar p {
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 20%;
    color: white; }

#bar1 {
  right: 75%;
  height: 80%; }
  #bar1:hover {
    height: 90%; }

#bar2 {
  right: 50%;
  height: 60%; }
  #bar2:hover {
    height: 90%; }

#bar3 {
  right: 25%;
  height: 70%; }
  #bar3:hover {
    height: 90%; }

#bar4 {
  right: 0%;
  height: 45%; }
  #bar4:hover {
    height: 90%; }

/* --------------- FLAG SECTION ( fetch background? )---- */
.icons {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 85.42656%;
  margin-bottom: 2em; }
  .icons:last-child {
    margin-right: 0; }

.flag {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 56.27969%; }
  .flag:last-child {
    margin-right: 0; }
  .flag img {
    padding-left: 0;
    padding-top: 10%;
    max-width: 50%; }

hr {
  color: #f00; }

/* --------------- INFO BOX LEFT SIDE -------------------- */
.info {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 19.8461%; }
  .info:last-child {
    margin-right: 0; }

.notebio {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 85.42656%;
  text-align: left; }
  .notebio:last-child {
    margin-right: 0; }

/* --------------- FLAG AND CURRENCY ICON ---------------- */
.icon {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 19.8461%;
  margin-right: 0;
  text-align: right;
  text-shadow: 1px 1px 1px #fff;
  line-height: 80px; }
  .icon:last-child {
    margin-right: 0; }
  .icon h3 {
    padding: 40px 0px 0px 10px; }

/* --------------- INFO TEXTBOX UNDER FLAG/ICON ---------- */
.currencyname {
  text-shadow: 2px 2px 2px #fff; }

.text {
  float: left;
  display: block;
  margin-right: 10.1484%;
  width: 100%;
  margin-left: 8px;
  margin-right: 12px; }
  .text:last-child {
    margin-right: 0; }
  .text p {
    font-size: .9em; }

.infolabel {
  text-shadow: 1px 1px 1px #fff; }

/* --------------- GRAPH SECTION ------------------------- */
.graphsection {
  float: left;
  display: block;
  margin-right: 2.01406%;
  width: 63.56641%;
  margin-right: 0; }
  .graphsection:last-child {
    margin-right: 0; }

/* --------------- INDIVIDUAL GRAPHS --------------------- */
#graphA {
  margin-top: -147px; }

#graphB {
  margin-top: -147px; }

.pie {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
  text-align: center;
  padding-top: 8px; }
  .pie:last-child {
    margin-right: 0; }
  .pie h3 {
    margin-top: -157px; }
  .pie h6 {
    margin-top: -90px; }

#end {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  padding-top: 4em;
  padding-bottom: 2em;
  text-align: center;
  position: relative; }
  #end:before, #end:after {
    content: " ";
    display: table; }
  #end:after {
    clear: both; }
  #end .est {
    padding-top: 0em; }
  #end ul {
    list-style-type: none;
    width: auto; }
  #end li {
    display: inline;
    text-align: center; }

footer {
  margin-top: 0em;
  height: auto;
  background-color: rgba(143, 220, 229, 0.8);
  width: 100%; }
  footer p {
    text-align: center;
    margin-top: 0;
    padding-bottom: em; }

.logo2 {
  text-align: center;
  height: 100px;
  width: 100px;
  background-image: url(../img/logo2.png); }

#subfooter {
  bottom: 0;
  background-color: #8fdce5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #8fdce5), color-stop(50%, #3dc3d1));
  background-image: -webkit-linear-gradient(top, #8fdce5 50%, #3dc3d1 50%);
  background-image: linear-gradient(to bottom,#8fdce5 50%, #3dc3d1 50%);
  width: 100%; }
  #subfooter .space {
    height: 8em; }

/*#footer {

    display: none;

    margin-top: 100px;
    height: 200px;
    //background-color: rgba(0,0,0, 0.5);
    width: 100%;
    background-color: #666;
    padding-top: 5em;
    position: absolute;
    p{
        text-align: center;
        margin-top: 80px;
    }
}
*/
